<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const nav = document.getElementById('gh-header');
            const navHeight = nav.getBoundingClientRect().height * 10;

            window.addEventListener('scroll', function() {
                const position = window.scrollY;
                if (position > navHeight) {
                    nav.classList.add('bg-blue-600');
                    nav.classList.remove('bg-transparent');
                } else {
                    nav.classList.add('bg-transparent');
                    nav.classList.remove('bg-blue-600');
                }
            })
        });
    </script>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

<header id="gh-header" class="sticky flex justify-center bg-transparent backdrop-blur-xl shadow-md top-0 h-14 pb-1 z-50 dark-shadow-slate-900">
    <nav style="margin: 0 30px" class="container mx-auto mb-2 bg-opcaity-80 flex md:justify-between justify-center items-center h-full">
        <div class="md:flex items-center justify-between gap-x-4 hidden font-semibold">
            <div class="mx-2">
                <a class="h-full text-black dark:text-white hover:text-cyan-500 flex items-center  hover:no-underline" href="/">Home</a>
            </div>
            <div class="mx-2">
                <a class="h-full text-black dark:text-white hover:text-cyan-500 flex items-center  hover:no-underline" href="/about">About Us</a>
            </div>
            <div class="mr-2">
                <a class="h-full  text-black dark:text-white hover:text-cyan-500 flex items-center  hover:no-underline" href="#layanan">Layanan</a>
            </div>
            <div class="mr-2">
                <a class="h-full  text-black dark:text-white hover:text-cyan-500 flex items-center  hover:no-underline" href="#proses-pemesanan">Proses Pemesanan</a>
            </div>
        </div>
        
        <div class="font-bold text-lg m-0 ml-2 p-2 rounded-md flex justify-center items-center">
            <a class="text-slate-100" href="{{@site.url}}">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}" />
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
        </div>
    </nav>
</header>

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

<footer class="bg-blue-600">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
                <a href="{{@site.url}}" class="flex items-center">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" class="h-8 me-3"/>
                    {{else}}
                        <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">{{@site.title}}</span>
                    {{/if}}
                </a>
          </div>
          <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-slate-50 uppercase">Resources</h2>
                  <ul class="text-slate-200 font-medium">
                      <li class="mb-4">
                          <a href="https://flowbite.com/" class="hover:underline">Flowbite</a>
                      </li>
                      <li>
                          <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase text-slate-50">Follow us</h2>
                  <ul class="text-slate-200 font-medium">
                      <li class="mb-4">
                          <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Github</a>
                      </li>
                      <li>
                          <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Discord</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold uppercase text-slate-50">Legal</h2>
                  <ul class="text-slate-200 font-medium">
                      <li class="mb-4">
                          <a href="#" class="hover:underline">Privacy Policy</a>
                      </li>
                      <li>
                          <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm sm:text-center text-slate-50">© {{date format="YYYY"}} <a href="{{@site.url}}" class="hover:underline">{{@site.title}}</a>. All Rights Reserved.
          </span>
      </div>
    </div>
</footer>

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
