{{!< default}}

{{#post}}
{{#if feature_image}}
<div class="flex flex-col w-full h-full bg-cover bg-center relative" style="top: -50px; background-image: url('{{feature_image}}');">
    <div class="absolute inset-0 bg-black opacity-50 backdrop-blur-lg"></div>
    <div style="margin: 150px 0px" class="z-10 w-full flex justify-center items-center"> 
        <h1 class="text-white text-6xl font-bold">{{title}}</h1> 
    </div>
</div>
{{else}}
<div class="flex flex-col w-full h-full bg-cover bg-center relative" style="top: -50px; background-image: url('{{asset 'images/home_banner.png'}}');">
    <div class="absolute inset-0 bg-black opacity-50 backdrop-blur-lg"></div>
    <div style="margin: 150px 0px" class="z-10 w-full flex justify-center items-center"> 
        <h1 class="text-white text-6xl font-bold">{{title}}</h1> 
    </div>
</div>
{{/if}}


<article class="gh-article {{post_class}}">

    <header class="gh-header gh-canvas">
        <span class="gh-post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>

        {{#if custom_excerpt}}
        <p class="gh-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        <div class="gh-post-authors mt-4">
            Written by {{#foreach authors}}<a href="{{url}}">{{name}}</a>{{/foreach}}
        </div>
    </header>

    <div class="gh-content gh-canvas container mx-auto py-8 px-4 md:px-0" style="max-width: 1200px;">
        {{content}}
    </div>

    <footer class="gh-footer gh-canvas container mx-auto py-8 px-4 md:px-0" style="max-width: 1200px;">
        {{#if comments}}
        <section class="gh-post-comments">
            {{comments}}
        </section>
        {{/if}}

    </footer>

</article>

<aside class="gh-readmore">
    <div class="gh-readmore-inner gh-container">
        <div class="gh-readmore-next">
            {{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <h4>{{title}}</h4></a>{{/next_post}}
        </div>
        <div class="gh-readmore-prev">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside>

{{/post}}
